/* EventList.css */

.event-card-M {
    width: 150px;
    height: 200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x:hidden;
}

.head-M {
    display: flex;
    justify-content: space-between;
}

.event-header-M {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-M {
    display: flex;
    gap: 20px;
    height: 25px;
}

.host-info-M {
    display: flex;
    align-items: center;
}

.host-image-M {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.event-title-M {
    margin: 0;
    font-size: 1.2rem;
}

.event-description-M {
    margin-top: 0;
}

.event-activity-M, .event-date-M, .event-time-M {
    margin: 0;
}

.follow-button-M {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0;
    border-radius: 5px;
    height: 25px;
    width: 60px;
    cursor: pointer;
}

.follow-button-M:hover {
    background-color: #0056b3;
}

.event-info-M {
    display: block;
    justify-content: left;
}

.event-info-M p, h3 {
    text-align: left;
}

.event-title-M {
    color: rgb(0, 0, 173);
}

.event-activity-M {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    margin: 0;
}

.header-right-side-M {
    display: flex;
    gap: 10px;
}

.followers-display-M {
    display: flex;
    align-items: center;
    gap: 5px;   
    align-self: center;
}

.delete-event-M {
    background-color: red;
    width: 25px;
    height: 25px;
    align-self: center;
    margin-right: 10px;
    color: white;
}

.delete-event-M:hover {
    background-color: rgb(184, 0, 0);
}

#map-mode-M {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 5px 0px;
    width: 80px;
    font-size: 0.7em;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #map-mode-M:hover {
    background-color: rgb(255, 255, 255);
  }

  .map-M {
    margin-top: 30px;
    position: relative;
  }

  .map-container-M {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
  }

  .preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .image-preview-container {
    position: absolute;
    align-self: center;
    padding: 20px;
    padding-top: 35px;
    border-radius: 5px;
    background-color: #333;
    z-index: 500;
    width: 400px;
    height: 330px;
  }

  #close-preview {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  #image-preview {
    width: 400px;
    height: 200px;
  }

  #upload-button {
    width: 100%;
    height: 30px;
    background-color: gray;
    margin: 15px 0px;
  }

  #preview-title {
    padding-bottom: 10px;
  }

  .user-details {
    position: relative;
    background-color: #515151;
    padding: 10px;
    border-radius: 7px;
  }

  #username-label {
    font-size: 1.2em;
    color: gold;
    padding-bottom: 5px;
  }

  #edit-user-info-button {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    background-color: gray;
  }

  .update-user-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
  }

  .update-user-form h1 {
    padding-bottom: 10px;
  }

  .update-user-form input {
    display: block;
    padding: 10px;
    width: 260px;
    margin-bottom: 5px;
    color: black;
    border-radius: 5px;
    outline: none;
  } 

  .update-user-form input:focus {
    border: 3px solid rgb(230, 102, 255);
    outline-color: rgb(230, 102, 255);
  }

  .update-user-form label {
    align-self: baseline;
    margin: 0;
  }

  #password-toggle-button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #0056b3;
  }

  #password-toggle-button p {
    color: white;
  }

  #submit-user-update-btn {
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #009823;
  }

  #submit-user-update-btn p {
    color: white;
  }

  #error-message {
    color: rgb(255, 112, 112);
    padding: 5px;
    align-self: center;
  }