:root {
    --bg: hsl(0deg 0% 21.73%);
    --fontColor: rgb(255, 255, 255);
}

.center-self-y {
    align-self: center;
}

nav {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    color: var(--fontColor);
    z-index: 10000;
}

#left-side {
}

#right-side {
    display: flex;
    gap: 30px;
    align-items: center;
}

#right-side * {
}

#user-container p {
    margin: 0;
    color: var(--fontColor);
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

#user-container {
    display: flex;
    gap: 30px;
}

#pages-links {
    display: flex;
    gap: 30px;
}