@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#profile-picture {
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
}

#user-profile-menu {
    position: absolute;
    top: 4em;
    right: 2em;
    background-color: var(--bg);
    border-radius: .5em;
    z-index: 100;
    animation: slideInFromRight 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    cursor: pointer;
    gap: 10px;
    color: var(--text);
    width: 100%;
}

.option:hover {
    background-color: var(--text);
    color: var(--bg);
    border-radius: 5px;

    & p {
        color: var(--bg);
    }
}

.option p {
    margin-left: 5px;
    color: var(--text);
}


#user-profile-menu a {
    text-decoration: none;
    color: white;
}