@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --bg-contrast: #555;
        --text: #eee;
        --border: #444;
        --shadow: #000;
        --tw-bg: #111827;
        --tw-primary: #6D28D9;
        --tw-secondary: rgba(142,60,178,0.73);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #ddd;
        --bg-contrast: #666;
        --text: #000;
        --border: #ccc;
        --shadow: #ddd;
        --tw-bg: #e5e5e8;
        --tw-primary: #be89ec;
        --tw-secondary: #a84fff;
    }
}
*:root {
    color: var(--text);
    background-color: var(--bg);
    background-image: radial-gradient(circle, var(--bg-contrast) 1%, transparent 4%);
    background-size: 2.5em 2.5em;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: .75em;
}

*::-webkit-scrollbar-track {
    background: var(--tw-bg);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background: var(--tw-primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--tw-secondary);
}